@media (max-width: 736px){
    .home {
        margin-top: 50px;
        position: relative;
        background-color: white;
        z-index: 1;
        justify-content: center;
    }

    .aboutme-title {
        width: fit-content;
        margin: auto;
        font-family: "Roboto-Thin";
        text-align: center;
        color: white;
    }
    

    .aboutme-card {
       padding: 8px;
       border-radius: 3px;
       margin-top: 25px;
       width: 500px;
       box-shadow: -3px 3px 8px -4px;
       background-color:  #5c5c5c;
       margin-bottom:  45px;
    }

    .aboutme-text {
        padding-left: 8px;
        font-size: small;
        margin: auto;
        color: white;
        font-size: larger;
    }

    .aboutme-card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        background-color: #3d3d3c;
    }


    
}


@media only screen and (min-width: 736px) and (max-width: 1366px)  {
    .aboutme-card-container {
        background-color: #3d3d3c;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        height: 300px;  
    }

    .aboutme-card {
        padding: 10px;
        width: 500px;
        height: 200px;
        background-color: #5c5c5c;
        box-shadow: 3px 3px 20px 0;
    }

    .aboutme-title {
        color: aliceblue;
    }

    .aboutme-text{
       font-family: "Roboto-Thin" ;
       color: rgb(255, 208, 0);
    }
}