@media only screen and (max-width: 736px){


    .Coursepage {
       position: relative;
       margin-top: 55px;
       display: flex;
       z-index: 1;
       height: 100%;
       align-items: center;
       justify-content: start;
       flex-direction: column;
       background-color: #F3FAFF;
       height: 514px;
    }

    .coursecard-container {
        position: relative;
        background-color: inherit;
        z-index: 2;
        background-color: #d8f0ff;
        width: 100%;
        display: flex;
        height: fit-content;
        overflow-x: auto;
        flex-direction: row;
        padding: 8px 0px;
        margin-top: 10px;
    }

    .coursecard {
        padding: 10px;
        box-shadow: 2px 2px 0 -2;
        border-radius: 2px;
        position: relative;
        margin: 8px;
        height: 345px;
        width: 250px;
        background-color: #bce5ff;
        backdrop-filter: blur(2px);
        
        flex: 0 0 auto;
    } 
    
    .coursecard-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .coursecard-img {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .coursecard-info {
        position: relative;
        padding: 3px 0px;
        width: 100%;
    }
    
    .coursecard-title {
       margin-left: 5px;
    }

    .coursecard-footer {
      padding: 2px;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .coursecard-btn{
        padding: 15px 15px;
        background-color: #0c5ce6;
        color: white;
        text-align: center;
        width: 80px;
        border-radius: 2px;
        margin-left: auto;
        border-style: none;
        outline: none;
    }
    
    

    .coursecard-price {
        display: inline;
        justify-self: flex-start;
        padding: 8px 4px;
        border: 1px dashed rgb(197, 197, 197);
        background-color: #606060;
        color: aliceblue;
    }
    
    .coursecard-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }


     
}




@media only screen and (min-width: 736px ) and (max-width: 1366px) {
    .Coursepage {
        position: relative;
        margin-top: 55px;
        display: flex;
        align-items: center;
        background-color: #F3FAFF
    }

    .coursecard-container {
        display: flex;
        margin-top: 25px;
        align-items: center;
        background: #d8f0ff;
        overflow-x: auto;
        width: 100%;
    }

    .coursecard-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .coursecard-img {
        width: 99%;
        height: 98%;
        border-radius: 1;
    }
    

    .coursecard {
       padding: 10px;
       border-radius: 5px;
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       background: #addbf7;
       margin: 25px;
       flex: 0 0 auto;
       width: 270px;
       box-shadow: 2px 4px 0 -5px;
       height: 355px;
    }

    .coursecard-title{
        text-align: center;
    }

    .coursecard-price {
        text-align: center;
        font-size: larger;
    }

  
  .coursecard-footer {
   display: flex;
   align-items: center;
   justify-items: center;
   padding: 4px 0;
   width: 100%;
  }

  .coursecard-btn{
    margin-left: auto;
    padding: 15px 10px;
    border-radius: 4px;
    border-style: none;
    background-color: #3176ed;
    text-align: center;
    outline: none;
  }
  
  .coursecard-info{
    width: 100%;
  }

    .coursecard-btn:hover {
      background-color:#1955bd;
      cursor: pointer;
    }

    .coursecard-price {
        display: inline;
        padding: 8px 4px;
        border: 1px dashed rgb(197, 197, 197);
        background-color: #606060;
        color: aliceblue;
    }
   
}