
@media (max-width: 736px){
    .footer {
        display: block;
        width: 100%;
        z-index: 10;
        padding-top: 8px ;
        background-color: #0066AE;
        color: white;
    }

    .footer-title {
       text-align: center;
       color: #1d4ed8;
    }

    .footer-text {
        text-align: center;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .footer-link-icon {
     margin-left: 8px;
   }
    
}

@media only screen and (min-width: 736px) and (max-width: 1366px){
    .footer {
        background-color: #0066AE;
        padding: 15px;
        font-family: "Roboto-Regular";
        text-align: center;
        color: aliceblue;
        margin-top: 0;
    } 
    
    .footer-link-icon {
        margin-left: 8px;
      }
}